.type {
    margin: 13px 0 10px 5px;
    padding: 4px 18px;
    border-radius: 25px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
}

p{
    font-size: .9rem;
}

.type-normal {
    background-color: #a8a878;
}

.type-fire {
    background-color: #f08030;
}

.type-fighting {
    background-color: #c03028;
}

.type-water {
    background-color: #6890f0;
}

.type-flying {
    background-color: #a890f0;
}

.type-grass {
    background-color: #78c850;
}

.type-poison {
    background-color: #a040a0;
}

.type-electric {
    background-color: #f8d030;
}

.type-ground {
    background-color: #e0c068;
}

.type-psychic {
    background-color: #f85888;
}

.type-rock {
    background-color: #b8a038;
}

.type-ice {
    background-color: #98d8d8;
}

.type-bug {
    background-color: #a8b820;
}

.type-dragon {
    background-color: #7038f8;
}

.type-ghost {
    background-color: #705898;
}

.type-dark {
    background-color: #705848;
}

.type-steel {
    background-color: #b8b8d0;
}

.type-fairy {
    background-color: #ee99ac;
}
