.card-pokemon-detail {
    height: auto;
    padding: .5rem;
    margin: 2.5rem auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pokemon-img {
    height: 21rem;
    display: grid;
    place-items: center;
}

.pokemon-img img {
    width: 12rem;
}

.pokemon-info {
    width: 70%;
}

div.MuiBox-root.MuiBox-root-14 {
    padding: 2rem 4rem;
}

.ability {
    padding-top: .9rem;
    padding-bottom: .9rem;
    margin: 0 5px;
    font-weight: 400;
}

.capitalize {
    text-transform: capitalize;
}

.button-container {
    margin: 1.5rem auto 0 auto;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 767px) {
    .pokemon-info {
        width: 90%;
    }

    div.MuiBox-root {
        padding: 0;
    }


    div.MuiBox-root.MuiBox-root-14 {
        padding: 0;
    }

    .button-container {
        margin: 1.5rem auto 1rem auto;
    }
}
